@font-face {
    font-family: "roboto-bold";
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: "roboto-medium";
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: "roboto-light";
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: "roboto-thin";
    src: url(../fonts/Roboto-Thin.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    max-width: 100%;
}
.logo{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 25px;
}
.header-start{
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    margin-left: 6rem;
    margin-top: 1.5rem;
}
.header-sec{
    display: flex;
    flex-direction: column;
    padding: 200px;
    gap: 1rem;
    top: 5rem;
}
.background-img{
    width: 40%;
    position: absolute;
    top: 0;
    right: 0px;
}
.blue-man{
    position: absolute;
    width: 40%;
    right: 0.5rem;
    top: -1rem;
}
.header-start p{
    font-size: 1rem;
    font-family: "roboto-light";
}
.title{
    font-size: 2.8rem;
}
.starter{
    font-family: "roboto-bold";
    font-size: 1.5rem;
}
.rocket{
    width: 1.5rem;
    position: absolute;
    top: 25.3rem;
    left: 24rem;
}
.scroll-main{
    font-size: 0.8rem;
    font-family: "roboto-medium";
    text-decoration: none;
    color: red;
}
/* start of the main section/ above is the header */
.portfolio{
    max-width: 100%;
}
.sect01{
    display:flex;
    flex-wrap: wrap;
    }
.box1, .box2{
    flex-basis: calc(50% - 10px);
}
.box1{
    padding-left: 8rem;
    padding-top: 10rem ;
}
.box2{
    padding-top: 9rem;
    padding-left: 10rem;
}
.box-text{
    font-family: "roboto-thin";
    font-size: 1.2rem;
    line-height: 2.5rem;
    margin-left: -18rem;
    padding-right: 4rem
}
.idea{
    font-size: 2.4rem;
    padding-right: 3rem;
}
.lamp{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 11rem;
    top: 88rem;
}
.idea-position{
    font-size: 2.4rem;
    padding-left: 8rem;
    padding-top: 4.5rem;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
}

.vector-size{
    width: 40px;
    height: 40px;
}